{% extends 'layout.html' %}

{% block title %} Homepage {% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-left">
        <h1 class="welcome">Welcome back</h1>
        <img src="{{ url_for('static', filename='img/brand_logo.png') }}" alt="Frilo Logo" class="brand_logo"/>
        <div></div>
    </div>
    <div class="login-right">
        <div class="login-header">
            <h1>Login</h1>
        </div>

        <form id="loginForm" onsubmit="return validateForm(event)">
            <div class="input-group">
                <input type="text" id="username" placeholder="Username" required>
            </div>

            <div class="input-group">
                <input type="password" id="password" placeholder="Password" required>
            </div>

            <div class="error-message" id="errorMessage">
                Invalid username or password!
            </div>

            <div class="additional-links">
                <a href="#" class="link-forgot">Forgot Password?</a>
            </div>

            <button type="submit" class="login-button">Login</button>
        </form>
        <span class="login-new_link">New User? <a href="#">Sign Up</a></span>
    </div>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

<!-- Font Awesome for social icons -->
<script src="https://kit.fontawesome.com/your-kit-code.js" crossorigin="anonymous"></script>
{% endblock %}
