{% extends 'login_layout.html' %}

{% block title %}Login{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-left">
        <h1 class="welcome">Welcome back</h1>
        <img src="{{ url_for('static', filename='img/brand_logo.png') }}" alt="Frilo Logo" class="brand_logo"/>
    </div>
    <div class="login-right">
        <div class="login-header">
            <h1>Login</h1>
        </div>

        <form id="loginForm" method="POST" action="{{ url_for('login') }}">
            <div class="input-group">
                <input type="text" name="username" placeholder="Username" required>
            </div>

            <div class="input-group">
                <input type="password" name="password" placeholder="Password" required>
            </div>

            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for item in messages %}
                        {% if item|length == 2 %}
                            {% set category = item[0] %}
                            {% set message = item[1] %}
                        {% else %}
                            {% set category = 'info' %}
                            {% set message = item %}
                        {% endif %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}



            <div class="additional-links">
                <a href="#" class="link-forgot">Forgot Password?</a>
            </div>

            <button type="submit" class="login-button">Login</button>
        </form>
        
        <span class="login-new_link">New User? <a href="{{ url_for('signup') }}">Sign Up</a></span>
    </div>
</div>
{% endblock %}